.container {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
  left: 50%;
  max-width: 500px;
  overflow: hidden;
  padding: 50px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 100;
}

.container h1 {
  text-align: center;
}

.container form label {
  display: block;
  font-weight: bolder;
  margin: 8px 0 20px 0;
}

.container form input {
  height: 45px;
  width: 100%;
}